form h1 {
    text-align: center;
}

form input {
    max-width: 300px;
}


form {
    min-width: 40%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    border: #4ae solid 5px;
    border-radius: 5px;
    text-align: left;
}

